<!DOCTYPE html>
<html>
<head>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="application.js"></script>
</head>
<body>

<form id="form1" action="/form" method="post">
  <input type="text" name="words[one]">
  <button>submit</button><br/>
  <input type="text" name="words[two]">
  <button>submit</button>
</form>

<p class="first"></p>
<p class="second"></p>

</body>
</html>